body, html {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #FFFFF0;
    @media (width >= 1000px) {
        padding-top: 0;
    }
}

/* Navbar */
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ADA3A4;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    transition: font 0.4s ease, background-color 0.4s ease;
    @media (width < 1000px) {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        position: fixed;
        height: 100%;
        overflow: hidden;
        font-size: 30px;
        transition: width 0.2s ease;
    }
}

#open-nav {
    display: none;
}

@media (width < 1000px) {
    #open-nav:checked ~ ul {
        width: 0;
    }
}

li {
    float: left;
    @media (width < 1000px) {
        float: none;
    }
}


li.hvr-rectangle-out {
    background: transparent;
    display: block;
}

li.hvr-rectangle-out:before {
    background: #91898a;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1vw 1.2vw;
    transition: padding 0.4s ease, color 0.4s ease, background-color 0.4s ease;
    @media (width < 1000px) {
        padding: 16px 8px;
    }
}

li a.active {
    text-decoration: underline;
}

ul.shrink {
    background-color: transparent;
    font-size: 25px;
    width: 100%;
    height: auto;
    li a {
        padding: 0.6vw 0.8vw;
        color: black;
    }
    li.hvr-rectangle-out {
        background: transparent;
        display: block;
    }
    
    li.hvr-rectangle-out:before {
        background: #dfcdcd;
    }
}

.nav-btn {
    display: none;
    @media (width < 1000px){
        display: block;
        background-color: transparent;
        color: white;
        position: fixed; right: 0;
        margin-top: -12px;
        padding: 2vw;
        font-size: 30px;
        transition: color 0.7s ease;
        animation: backInRight;
        animation-duration: 0.5s;
        cursor: pointer;
    }
  }

.logo {
    width: 2.5vw;
    align-self: center;
    margin-left: auto;
    @media (width < 1000px){
        width: 0;
    }
}
/* Navbar */

.hero {
    display: flex;
    width: 100%;
    height: 250px;
    background: rgb(226,170,195);
    background: linear-gradient(90deg, rgba(226,170,195,1) 0%, rgba(106,132,163,1) 100%);
}

.hero-text {
    align-self: flex-end;
    margin-left: 15px;
    font-size: 75px;
    font-family: 'Dosis', sans-serif;
    color: white; 
    @media (width < 1000px) {
        font-size: 60px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    @media (width < 1000px) {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

p {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
}