body, html {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #FFFFF0;
    @media (width >= 1000px) {
        padding-top: 0;
    }
}

/* Hero Banner */
.hero {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    height: 250px;
    background: rgb(226,170,195);
    background: linear-gradient(90deg, rgba(226,170,195,1) 0%, rgba(106,132,163,1) 100%);
    @media (width < 1000px) {
        height: 150px;
    }
}

.hero-text {
    align-self: flex-end;
    margin-left: 15px;
    font-size: 75px;
    font-family: 'Dosis', sans-serif;
    color: white; 
    @media (width < 1000px) {
        font-size: 60px;
    }
}
/* Hero Banner */

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    @media (width < 1000px) {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.sepline {
    width: 100%;
    height: 5px;
    background: rgb(226,170,195);
    background: linear-gradient(20deg, rgba(226,170,195,1) 0%, rgba(226,170,195,1) 75%, rgba(106,132,163,1) 100%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 170, 226);
    border-radius: 5px;
}

p {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
}


/* Footer */
.footer {
    display: flex;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    height: 35px;
    background: rgb(226,170,195);
    background: linear-gradient(270deg, rgba(226,170,195,1) 0%, rgba(106,132,163,1) 100%);
    @media (width < 1000px) {
        height: 30px;
    } 
}

.footertxt {
    align-self: flex-end;
    margin-left: 2px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}
/* Footer */