body, html {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #FFFFF0;
    @media (width >= 1000px) {
        padding-top: 0;
    }
}

/* Hero Banner */
.hero {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    height: 250px;
    background: rgb(226,170,195);
    background: linear-gradient(90deg, rgba(226,170,195,1) 0%, rgba(106,132,163,1) 100%);
    @media (width < 1000px) {
        height: 150px;
    }
}

.hero-text {
    align-self: flex-end;
    margin-left: 15px;
    font-size: 75px;
    font-family: 'Dosis', sans-serif;
    color: white; 
    @media (width < 1000px) {
        font-size: 60px;
    }
}
/* Hero Banner */

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    @media (width < 1000px) {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.sepline {
    width: 100%;
    height: 5px;
    background: rgb(226,170,195);
    background: linear-gradient(20deg, rgba(226,170,195,1) 0%, rgba(226,170,195,1) 75%, rgba(106,132,163,1) 100%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 170, 226);
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

p {
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    line-height: 2.5;
}

.img1 {
    display: block;
    margin: 0 auto;
    width: 60vw;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(226,170,195);
    border-radius: 1.5%;
    @media (width < 1000px) {
        width: 80vw;
    }
}

.p2 {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.img2 {
    background-size: cover;
    width: auto;
    height: 40vw;
    margin: auto 50px auto 0;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(226,170,195);
    border-radius: 1.5%;
    visibility: visible;
    @media (width < 1500px) {
        display: none;
    }
}

.img2text {
    display: none;
    margin: 0 auto;
    width: 30vw;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(226,170,195);
    border-radius: 1.5%;
    @media (width < 1500px) {
        display: block;
    }
    @media (width < 1000px) {
        width: 50vw;
    }
}


/* Top Button */
.top-btn {
    display: block;
    position: fixed;
    color: rgb(126, 124, 124);
    font-size: 30px;
    right: 0;
    bottom: 0;
    opacity: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
/* Top Button */

/* Footer */
.footer {
    display: flex;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    height: 35px;
    background: rgb(226,170,195);
    background: linear-gradient(270deg, rgba(226,170,195,1) 0%, rgba(106,132,163,1) 100%);
    @media (width < 1000px) {
        height: 30px;
    } 
}

.footertxt {
    align-self: flex-end;
    color: white;
    margin-left: 2px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.footertxt:nth-child(2) {
    margin-left: auto;
    margin-right: 2px;
}
/* Footer */